$main-color: #ebebeb;
$bgColor_light: white;
$bgColor_dark: black;

$headerBgColor_light: #f5f5f5;
$headerBgColor_dark: #26262a;

$textColor_light: black;
$textColor_dark: white;

$borderColor_light: black;
$borderColor_dark: white;
